HOST_IP = # Set the host for the stack

REDIS_CLUSTER_NAME = # Set the name of the Redis cluster

REDIS_PORT_1 = # Set the port number for the first Redis instance
REDIS_PORT_2 = # Set the port number for the second Redis instance
REDIS_PORT_3 = # Set the port number for the third Redis instance

SENTINEL_PORT_1 = # Set the port number for the first Redis Sentinel instance
SENTINEL_PORT_2 = # Set the port number for the second Redis Sentinel instance
SENTINEL_PORT_3 = # Set the port number for the third Redis Sentinel instance

REDIS_MASTER_PASSWORD = # Password to use to access to Redis master. Should be the same in aclfile.acl or --requirepass option

REDIS_READONLY_USER = # Username to use to access to Redis read-only user. Should be the same in aclfile.acl
REDIS_READONLY_PASSWORD = # Password to use to access to Redis read-only user. Should be the same in aclfile.acl